%form{:method => 'post', :action => '/login'}
	%label User
	%input{:type => 'text', :name => 'user'}

	%br

	%label Password
	%input{:type => 'password', :name => 'password'}

	%br

	%input{:type => 'submit', :value => 'login'}