%form{:method => 'post', :action => '/logout'}
	%input{:type => 'submit', :value => 'logout'}
%hr
%h1= "You are logged in: #{user}!"
%a{:href => '/posts/create'} Create new Post
|
%a{:href => '/posts/manage'} Manage Posts

%hr
%h1 Create new Post
%form{:method => 'post', :action => "/posts/manage/update/#{@posts.id}"}
	%label Title
	%input{:type => 'text', :name => 'posts[title]', :value => @posts.title}

	%br

	%label Content
	%textarea{:name => 'posts[content]'}= @posts.content

	%br

	%input{:type => 'submit', :value => 'Update Post'}